@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    background: rgb(55, 55, 66);
    color: white;
    text-align: center;
    
}

#title {
    margin-top: 42px;
    font-size: 48px;
    padding-bottom: 1px;
    margin-bottom: 1px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(99, 99, 230);
    
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family: 'Space Mono', monospace;
    color: rgb(99, 99, 230);
    
}

.container {
    margin-top: 113px;
    align-items: center;
}

.row {
    margin-top: 11px;
    
}

.btn {
    height: 93px;
    width: 93px;
    margin-left: 5px;
    background: rgb(55, 55, 66);
    border-radius: 5px;
    border-color: rgb(99, 99, 230);
    
}

