@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    background: rgb(55, 55, 66);
    color: white;
    text-align: center;
    
}

footer {
    margin-top: 127px;
    font-family: 'Orbitron', sans-serif;
    color:rgb(128, 128, 237);
    font-size: 14px;
    padding-right: 3px;
    font-weight: 200;
}

#title {
    margin-top: 42px;
    font-size: 48px;
    padding-bottom: 1px;
    margin-bottom: 1px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(99, 99, 230);
    
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family: 'Space Mono', monospace;
    color: rgb(99, 99, 230);
    
}

.link {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(128, 128, 237);
}

.link:hover {
    cursor: pointer;
    color:rgb(99, 99, 230);
    text-decoration: none;
}

.container {
    margin-top: 113px;
    align-items: center;
}

.row {
    margin-top: 7px;
    padding: 0px;
    
}

.btn {
    height: 97px;
    width: 97px;
    margin-left: 5px;
    background: rgba(55, 55, 82, 0.35);
    border-radius: 5px;
    border-color: rgb(99, 99, 230);
    border-width: 4px;
    position: static;
    border-spacing: 0px;
    padding: 0px;
    
}

.btn:hover {
    cursor: pointer;
    background: rgb(55, 55, 66);
    border-color: rgb(128, 128, 237);
    border-width: 2px;
    padding-left: 2px;
    padding-right: 2px;
        
}

.btn:focus {
    border-color: rgb(128, 128, 237);
    background: rgb(55, 55, 66);
    outline: none;
    border-width: 2px;
    padding: 0px;
    
}

.reset-btn {
    margin-top: 25px;
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    height: 35px;
    width: 5%;
    color: rgb(99, 99, 230);
    background:rgb(55, 55, 82);
    font-weight: bold;
    border-color: rgb(128, 128, 237);
}

.reset-btn:hover {
    cursor: pointer;
    background: rgb(128, 128, 237);
    color: rgb(55, 55, 82);
    border-color: transparent;
    
}

.reset-btn:focus {
    border-color:rgb(99, 99, 230);
}

.paragraph {
    margin-top: 59px;
    margin-bottom: 2px;
    font-family: 'Orbitron', sans-serif;
    color:rgb(128, 128, 237);
    font-size: 23px;
    padding-right: 3px;
    font-weight: 500;
}

.copy {
    font-weight: bold;
}





